---
import { obtenerPersonajes } from "../../api/personajeApi";
import type { Personaje } from "../../types/Personaje";
import PresentacionBasicaPersonaje from "./PresentacionBasicaPersonaje.astro";
const personajes: Personaje[] = await obtenerPersonajes();

const personajesFiltrados = personajes
  .filter((personaje) => personaje.rareza === 5)
  .sort((a, b) => b.fechaLanzamiento.localeCompare(a.fechaLanzamiento))
  .slice(0, 3);
---

<div class="swiper swiper-presentacionPersonajes w-full">
  <div class="swiper-wrapper">
    {
      personajesFiltrados.map((personaje) => (
        <div class="swiper-slide">
          <PresentacionBasicaPersonaje personaje={personaje} />
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<style>
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    text-shadow:
      0 2px 8px #000,
      0 0px 2px #333; /* Sombra para mejor visibilidad */
  }
</style>
<script is:inline>
  function inicializarSwiper() {
    new Swiper(".swiper-presentacionPersonajes", {
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      grabCursor: true,
    });
  }

  document.addEventListener("astro:page-load", inicializarSwiper);
</script>
