---
import { obtenerPersonajes } from "../../api/personajeApi";
import type { Personaje } from "../../types/Personaje";
import PresentacionBasicaPersonaje from "./PresentacionBasicaPersonaje.astro";
const personajes: Personaje[] = await obtenerPersonajes();

const personajesFiltrados = personajes
  .filter((personaje) => personaje.rareza === 5)
  .sort((a, b) => b.fechaLanzamiento.localeCompare(a.fechaLanzamiento))
  .slice(0, 3);
---

<div class="swiper w-full h-screen">
  <div class="swiper-wrapper">
    {
      personajesFiltrados.map((personaje) => (
        <div class="swiper-slide">
          <PresentacionBasicaPersonaje personaje={personaje} />
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js" is:inline
></script>
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(".swiper", {
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      grabCursor: true
    });
  });
</script>
