---
import { Image } from "astro:assets";
import type { Personaje } from "../../types/Personaje";
interface Props {
  personaje: Personaje;
  class?: string;
}

const { personaje, class: className, ...props } = Astro.props;
---

<div
  class={`rounded overflow-hidden relative cursor-pointer ${className}`}
  {...props}
>

  <Image
    src={personaje.tarjetaURL}
    alt={personaje.nombre}
    width={1080}
    height={1920}
    class="w-full h-full object-cover"
  />
</div>
