---
import Image from "astro/components/Image.astro";
import logo from "../assets/images/logo.png";
import MenuIcon from "../assets/images/icons/menu-hamburguesa.svg";
---

<div class="fixed w-full bg-gray-800">
  <div class="bg-gray-800 flex p-4 items-center justify-between">
    <Image src={logo} alt="Logo" class="h-8 md:h-12 object-contain w-fit" />
    <nav class="hidden md:block">
      <ul class="flex gap-3 items-center">
        <li><a class="text-white text-xl" href="/">Home</a></li>
        <li><a class="text-white text-xl" href="/about">About</a></li>
        <li><a class="text-white text-xl" href="/contact">Contact</a></li>
      </ul>
    </nav>

    <MenuIcon
      class="h-8 w-8 md:hidden cursor-pointer"
      id="mobile-menu-button"
    />
  </div>
  <div class="hidden" id="mobile-menu">
    <ul class="flex flex-col gap-2">
      <li><a class="p-3 text-white text-xl" href="/">Home</a></li>
      <li><a class="p-3 text-white text-xl" href="/about">About</a></li>
      <li><a class="p-3 text-white text-xl" href="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<script>
  const menuButton = document.getElementById("mobile-menu-button");
  const mobileMenu = document.getElementById("mobile-menu");

  if (menuButton && mobileMenu) {
    menuButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  }
</script>
