---
import Image from "astro/components/Image.astro";
import logo from "../assets/images/logo.png";
import MenuIcon from "../assets/images/icons/menu-hamburguesa.svg";
---

<div class="navbar fixed top-0 bg-black/60 z-10 p-1 pl-3 pr-3 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl"
      ><Image src={logo} alt="Logo" class="h-12 object-contain w-fit" /></a
    >
  </div>
  <div class="hidden md:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a class="text-gray-200 text-xl" href="/">Home</a></li>
      <li>
        <a class="text-gray-200 text-xl" href="/personajes">Personajes</a>
      </li>
      <li><a class="text-gray-200 text-xl" href="/imagenes">Imagenes</a></li>
      <li><a class="text-gray-200 text-xl" href="/videos">Videos</a></li>
    </ul>
  </div>

  <div class="dropdown dropdown-end md:hidden">
    <label tabindex="0" class="btn btn-ghost btn-circle">
      <Image
        src={MenuIcon}
        alt="Menu Icon"
        class="h-8 w-8 md:hidden cursor-pointer mobile-menu-button"
      />
    </label>
    <ul
      tabindex="0"
      class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-black/60 rounded-box w-52"
    >
       <li><a class="text-gray-200 text-xl" href="/">Home</a></li>
      <li>
        <a class="text-gray-200 text-xl" href="/personajes">Personajes</a>
      </li>
      <li><a class="text-gray-200 text-xl" href="/imagenes">Imagenes</a></li>
      <li><a class="text-gray-200 text-xl" href="/videos">Videos</a></li>
    </ul>
  </div>
</div>
