---
import Ornamento from "../assets/images/ornamento/ornamento-izq.svg";

interface Props {
  children: any;
  fill?: string;
  width?: number;
  height?: number;
  class?: string;
}
const { width, fill, height, class: className } = Astro.props;
---

<div class={`flex justify-center items-center ${className ? className : ""}`}>
  <Ornamento
    width={width ? width : 100}
    style={{ color: fill ? fill : "currentColor" }}
    height={height ? height : 100}
  />
  <slot />
  <Ornamento
    class="rotate-180 scale-y-[-1]"
    width={width ? width : 100}
    style={{ color: fill ? fill : "currentColor" }}
    height={height ? height : 100}
  />
</div>
