---
import type { Video } from "../types/Video";
import botonPlay from "../assets/images/icons/play-btn-blanco.png";
import { obtenerMiniatura } from "../utils/youtubeVideoScripts";
import { Image } from "astro:assets";
interface Props {
  video: Video;
  class?: string;
}
const { video, class: className } = Astro.props;
---

<div
  class={`aspect-video overflow-hidden object-cover object-center inline-block rounded relative ${className}`}
>
  <a href={video.url} data-fancybox data-width="100%" data-height="100%">
    <Image
      src={obtenerMiniatura(video.url)}
      alt="Video poster"
      width="1024"
      height="720"
      class="object-cover w-full h-full"
    />
    <Image
      src={botonPlay}
      alt="Logo"
      class="w-16 h-fit absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-75"
    />
  </a>
</div>
