---
import type { Video } from "../types/Video";
import { obtenerMiniatura } from "../utils/youtubeVideoScripts";
interface Props {
  video: Video;
  class?: string;
}
const { video, class: className } = Astro.props;
---

<div
  class={`aspect-video overflow-hidden object-cover object-center inline-block rounded ${className}`}
>
  <a href={video.url} data-fancybox data-width="100%" data-height="100%">
    <img
      src={obtenerMiniatura(video.url)}
      alt="Video poster"
      width="240"
      height="180"
      class="object-cover w-full h-full"
    />
  </a>
</div>
